<nav id="nav2" class="text-center mb-4">
    <a href="#" x-on:click="activeTab = 1" class="underline">Utama</a> &middot;
    <a href="#" x-on:click="activeTab = 2" class="underline">Kepenulisan</a> &middot;
    <a href="#" x-on:click="activeTab = 3" class="underline">Blog</a> &middot;
    <a href="#" x-on:click="activeTab = 4" class="underline">Kontribusi</a> &middot;
    <a href="#" x-on:click="activeTab = 5" class="underline">Video</a> &middot;
    <a href="#" x-on:click="activeTab = 6" class="underline">Audio</a> &middot;
    <a href="#" x-on:click="activeTab = 7" class="underline">Tanya</a> &middot;
    <a href="#" x-on:click="activeTab = 8" class="underline">Perpesanan</a> &middot;
    <a href="#" x-on:click="activeTab = 9" class="underline">Toko</a> &middot;
    <a href="#" x-on:click="activeTab = 10" class="underline">Donasi</a>
</nav>